/* CSS COLORS AT
https://www.w3schools.com/cssref/css_colors.asp
*/
.root {
    /* Apply a dark base color globally */
    -fx-base: rgba(60, 63, 65, 255); // dark
}


.background-canvas{
    -fx-background-color: #232323;
}

.decisionmodule{
    -fx-padding:10;
    -fx-background-color: #2d2d2d;
    -fx-background-radius: 10;
    /* -fx-text-fill:white; */
    /* -fx-text-background-color: white; */
}

.decisionmodule-title{
    -fx-background-color: #4f4f4f;
    -fx-background-radius: 10;
    -fx-text-fill:darkorange;
    -fx-font-weight: bold;
}

/* .decisionmodule-accordion-pane { */
/*     -fx-text-fill:darkorange; */
/*     -fx-background-color: transparent, #4f4f4f; */
/*     -fx-background-insets: 0, 1; */
/* } */

/* /\* EXPERTS *\/ */
/* .expert-type{ */
/*     -fx-text-fill:white; */
/*     -fx-font-weight: bold; */
/* } */

/* .expert-header { */
/*     -fx-background-color: gray; */
/*     -fx-border-radius: 10 10 0 0; */
/*     -fx-background-radius: 10 10 0 0; */
/*     -fx-border-color: black; */
/*     -fx-border-width: 0; */
/* } */

/* .expert-title{ */
/*     -fx-text-fill:white; */
/* } */

/* .expert-content { */
/*     -fx-background-color: rgba(50,50,50,255); */
/*     -fx-border-radius: 0 0 10 10; */
/*     -fx-background-radius: 0 0 10 10; */
/*     -fx-border-color: black; */
/*     -fx-border-width: 0; */
/* } */

/* .expert-content-label{ */
/*     -fx-text-fill: orange; */
/* } */



/* /\* INPUT NODES *\/ */
/* .input-type{ */
/*     -fx-text-fill:white; */
/*     -fx-font-weight: bold; */
/* } */

/* .input-header { */
/*     -fx-background-color: gray; */
/*     -fx-border-radius: 10 10 0 0; */
/*     -fx-background-radius: 10 10 0 0; */
/*     -fx-border-color: black; */
/*     -fx-border-width: 0; */
/* } */

/* .input-title{ */
/*     -fx-text-fill:white; */
/* } */

/* .input-content { */
/*     -fx-background-color: rgba(50,50,50,255); */
/*     -fx-border-radius: 0 0 10 10; */
/*     -fx-background-radius: 0 0 10 10; */
/*     -fx-border-color: black; */
/*     -fx-border-width: 0; */
/* } */

/* .input-content-label{ */
/*     -fx-text-fill: orange; */
/* } */

/* .list-view { */
/*     -fx-background-color: transparent, -fx-control-inner-background; */
/*     -fx-background-insets: 0, 1; */
/*     -fx-padding: 1; */
/* } */

/* .list-view .list-cell:even { */
/* -fx-background-color: rgba(100,100,100,255); */
/* -fx-text-background-color: white; */
/* } */
/* .list-view .list-cell:odd { */
/* -fx-background-color: rgba(120,120,120,255); */
/* -fx-text-background-color: white; */
/* } */


.remove-button {
    /* -fx-background-radius: 2; */
    /* /\* -fx-background-color: #4f4f4f; *\/ */
    /* -fx-background-color: transparent; */
    -fx-text-fill:red;
    -fx-font-weight: bold;
}

.add-button {
    /* -fx-background-radius: 10; */
    /* -fx-background-color: #4f4f4f; */
    -fx-text-fill:lawngreen;
    -fx-font-weight: bold;
}
